/*선택자 selector*/
header{

  /*! background-color: #eee; */
  padding-top: 34px;
  padding-bottom: 34px;
}
/*하위선택자*/
header div.wrap{

  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header h1{

}
header h1 a{
  background-image: url(../img/hj_logo.jpg);
  width: 230px;
  height: 25px;
  display: block;
  font-size: 0;
}
header ul.gnb{

  display: flex;
  width: 60%;
  justify-content: space-around;
}
header ul.gnb li{

  width: 20%;
  /*! border: 1px solid; */
  text-align: center;
}
header ul.gnb li a{

  display: block;
  /*! height: 100%; */
  line-height: 2;
  font-size: 14px;
  border-top: 1px solid #ddd;
  transition: all 0.5s;
}
header ul.gnb li a:hover{

  color: #00a0c6;
  border-top: 1px solid #00a0c6;
}
header ul.enb{

  display: flex;
  position: absolute;
  top: -23px;
  right: 0px;
  font-size: 11px;
  /*! gap: 10px; */
}
header ul.enb li{
    
}
header ul.enb li:nth-child(2) a{
  
}
header ul.enb li:nth-child(2) a::before{
  content: "I";
  margin-right: 6px;
  color: #666;
}
header ul.enb li a{

  /*! font-size: 11px; */
  display: block;
  line-height: 0.7;
  padding: 5px 3px;
}
header ul.enb li a:hover{
  color: orange;
}
header ul.enb li:nth-child(1) a{
  
}
header ul.enb li:nth-child(1) a::after{
  content: "▼";
  font-size: 11px;
  padding-left: 6px;
}